-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
importlib-metadata==8.6.1
lxml==5.3.0
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
urllib3==2.3.0
visidata==3.1.1
wcwidth==0.2.13
zipp==3.21.0
