# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "gha:"

  # Maintain dependencies for Python 
  - package-ecosystem: "pip"
    directory: /ansible
    schedule:
      interval: "daily"
    commit-message:
      prefix: "python:"

  # Maintain dependencies for Python 
  - package-ecosystem: "pip"
    directory: /sslyze
    schedule:
      interval: "daily"
    commit-message:
      prefix: "python:"

  # Maintain dependencies for Rust
  - package-ecosystem: "cargo"
    directory: /onetun
    schedule:
      interval: "daily"
    commit-message:
      prefix: "rust:"

   # Maintain dependencies for Rust
  - package-ecosystem: "cargo"
    directory: /rustybgp
    schedule:
      interval: "daily"
    commit-message:
      prefix: "rust:"
 
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /age
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /ali
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /amass
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /ansible
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /bl3auto
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /cf-warp
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /cloudflared
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /coredns
    schedule:
      interval: "daily"
      
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /dive
    schedule:
      interval: "daily"
      
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /dnscontrol
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /dnscrypt-proxy
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /driftctl
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /dry
    schedule:
      interval: "daily"
      
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /excalidraw
    schedule:
      interval: "daily"
      
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /gobgp
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /gocannon
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /goplay2
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /gotip
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /hakrawler
    schedule:
      interval: "daily"
      
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /headscale
    schedule:
      interval: "daily"
      
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /httprobe
    schedule:
      interval: "daily"
      
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /httpx
    schedule:
      interval: "daily"
      
   # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /lego
    schedule:
      interval: "daily"

   # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /log4j-scan
    schedule:
      interval: "daily"

   # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /miller
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /nebula
    schedule:
      interval: "daily"
      
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /nginx-distroless
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /nginx-quic
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /nginx
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /octosql
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /onetun
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /pwru
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /rclone
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /rustybgp
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /sftpd
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /spicedb
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /ssh-audit
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /sslyze
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /subfinder
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /tailscale
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /terraform
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /testssl.sh
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /tftpd
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /toxiproxy
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /wuzz
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /youtube-dl
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: /yt-dlp
    schedule:
      interval: "daily"

