[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sslyze = "*"
wheel = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
invoke = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
sphinx-autodoc-typehints = "*"
black = "==20.8b1"
pytest-cov = "*"
faker = "*"

[requires]
python_version = "3.9"
