[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
sslyze = "*"
nassl = "*"
#nassl = ">=4.0.0,<5.0.0"
#cryptography = ">=2.6,<3.4"
cryptography = "*"
tls-parser = "*"
pydantic = "*"
wheel = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
invoke = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
sphinx-autodoc-typehints = "*"
#black = "==20.8b1"
black = "*"
pytest-cov = "*"
faker = "*"

[requires]
python_version = "3"
