-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
annotated-types==0.7.0
cffi==1.17.0
cryptography==42.0.8
nassl==5.2.0
pycparser==2.22
pydantic==2.6.4
pydantic-core==2.16.3
sslyze==6.0.0
tls-parser==2.0.1
typing-extensions==4.12.2
