[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#dkimpy = "*"
dkimpy = {extras = ["ed25519", "ARC", "asyncio"], version = "*"}

[dev-packages]

[requires]
python_version = "3"
