-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
aiodns==3.1.1
authres==1.2.0
cffi==1.16.0; python_version >= '3.8'
dkimpy[ARC,asyncio,ed25519]==1.1.5
dnspython==2.6.1; python_version >= '3.8'
pycares==4.4.0; python_version >= '3.8'
pycparser==2.21
pynacl==1.5.0; python_version >= '3.6'
