-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
aiodns==3.0.0
authres==1.2.0
cffi==1.15.1
dkimpy[ARC,asyncio,ed25519]==1.1.5
dnspython==2.4.2; python_version >= '3.8' and python_version < '4.0'
pycares==4.3.0
pycparser==2.21
pynacl==1.5.0; python_version >= '3.6'
