[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#docker-autocompose = "*"
docker-autocompose = { git = "https://github.com/jauderho/docker-autocompose.git", editable = true }
pyaml = "*"
docker = "*"
six = "*"

[dev-packages]

[requires]
python_version = "3"
