-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
certifi==2025.1.31
charset-normalizer==3.4.1
docker==7.1.0
-e git+https://github.com/jauderho/docker-autocompose.git@d01f1afc253a14fbd2c34167f4ca8290247a0ec5#egg=docker-autocompose
idna==3.10
packaging==24.2
pyaml==25.1.0
pyyaml==6.0.2
requests==2.32.3
urllib3==2.3.0
