[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
catprinter = { git = "https://github.com/jauderho/catprinter.git", editable = true }
bleak = "*"
numpy = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3"
