-i https://pypi.org/simple
async-timeout==4.0.2 ; python_version >= '3.6'
bleak==0.18.1
-e git+https://github.com/jauderho/catprinter.git@109dee255b3339ba13d0df3c86973629a69f80d4#egg=catprinter
dbus-fast==1.41.0 ; platform_system == 'Linux'
numpy==1.23.3
opencv-python==4.6.0.66
