[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
ansible = "*"
ansible-lint = "*"
#jmespath = "*"
pywinrm = "*"
#pywinrm = {extras = ["kerberos", "credssp"], version = "*"}
#requests-credssp = "*"
#requests-kerberos = "*"
storops = "*"
wheel = "*"
mitogen = { git = "https://github.com/mitogen-hq/mitogen.git", editable = true, ref = "660d3e088501816edc12f4b98e9e92a35f68c707" }

[dev-packages]

[requires]
python_version = "3"
