[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-lint = "*"
#jmespath = "*"
pywinrm = "*"
#pywinrm = {extras = ["kerberos", "credssp"], version = "*"}
#requests-credssp = "*"
#requests-kerberos = "*"
storops = "*"
wheel = "*"
mitogen = { git = "https://github.com/mitogen-hq/mitogen.git", editable = true, ref = "f830dd8e40818f073d91000fc3bc50899905fd86" }

[dev-packages]

[requires]
python_version = "3"
