ansible==4.3.0
ansible-core==2.11.3
ansible-lint==5.1.2
bracex==2.1.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
colorama==0.4.4
commonmark==0.9.1
cryptography==3.4.7
enrich==1.2.6
idna==3.2
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
mitogen==0.2.9
ntlm-auth==1.5.0
packaging==21.0
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
pywinrm==0.4.2
PyYAML==5.4.1
requests==2.26.0
requests-ntlm==1.1.0
resolvelib==0.5.4
rich==10.6.0
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
six==1.16.0
tenacity==8.0.1
urllib3==1.26.6
wcmatch==8.2
xmltodict==0.12.0
