-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
ansible==11.1.0
ansible-compat==24.10.0
ansible-core==2.18.1
ansible-lint==24.12.2
attrs==24.3.0
bitmath==1.3.3.1
black==24.10.0
bracex==2.5.post1
cachez==0.1.2
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==44.0.0
filelock==3.16.1
idna==3.10
importlib-metadata==8.5.0
jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markupsafe==3.0.2
mitogen==0.3.19
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
persist-queue==1.0.0
platformdirs==4.3.6
pycparser==2.22
pyspnego==0.11.2
python-dateutil==2.9.0.post0
pywinrm==0.5.0
pyyaml==6.0.2
referencing==0.35.1
requests==2.32.3
requests-ntlm==1.3.0
resolvelib==1.0.1
retryz==0.1.9
rpds-py==0.22.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
six==1.17.0
storops==1.2.11
subprocess-tee==0.4.2
urllib3==2.2.3
wcmatch==10.0
xmltodict==0.14.2
yamllint==1.35.1
zipp==3.21.0
