#
# Disabled for now due to the inability to pass tokens instead of passwords to Docker Hub
#
name: dnscrypt-proxy-docs

on:
  push:
    branches: 
      - main
    paths:
      - README.md
      - dnscrypt-proxy
      - .github/workflows/dnscrypt-proxy.yml
      - .github/workflows/dnscrypt-proxy-docs.yml
  workflow_dispatch:

env:
  DOCKER_CLI_EXPERIMENTAL: enabled
  REPOSITORY: ${{ github.actor }}/dnscrypt-proxy

permissions: read-all

jobs:
  deploy:
    runs-on: ubuntu-24.04

    steps:
      - name: Source checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4.4.2
        
      - name: Update DockerHub description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: ${{ env.REPOSITORY }}
          readme-filepath: dnscrypt-proxy/README.md
