#
# Disabled for now due to the inability to pass tokens instead of passwords to Docker Hub
#
name: dnscrypt-proxy-docs

on:
  push:
    branches: 
      - main
    paths:
      - README.md
      - dnscrypt-proxy
      - .github/workflows/dnscrypt-proxy.yml
      - .github/workflows/dnscrypt-proxy-docs.yml
  workflow_dispatch:

env:
  DOCKER_CLI_EXPERIMENTAL: enabled
  REPOSITORY: ${{ github.actor }}/dnscrypt-proxy

permissions: read-all

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - name: Source checkout
        uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247 # v2.4.0
        
      - name: Update DockerHub description
        uses: peter-evans/dockerhub-description@579f64ca0abced29dbbc44ab4c6a0b9e33ab3588 # v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: ${{ env.REPOSITORY }}
          readme-filepath: dnscrypt-proxy/README.md
