#
# Disabled for now due to the inability to pass tokens instead of passwords to Docker Hub
#
name: dnscrypt-proxy-docs

on:
  push:
    branches: 
      - main
    paths:
      - README.md
      - dnscrypt-proxy
      - .github/workflows/dnscrypt-proxy.yml
      - .github/workflows/dnscrypt-proxy-docs.yml
  workflow_dispatch:

env:
  DOCKER_CLI_EXPERIMENTAL: enabled
  REPOSITORY: ${{ github.actor }}/dnscrypt-proxy

permissions: read-all

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - name: Source checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v2.4.0
        
      - name: Update DockerHub description
        uses: peter-evans/dockerhub-description@79b63455c04d4412f475a17a67ccf57919bd3590 # v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: ${{ env.REPOSITORY }}
          readme-filepath: dnscrypt-proxy/README.md
