name: Semgrep

on:
  pull_request: {}
  push:
    branches:
    - main
    - master
    paths:
    - .github/workflows/semgrep.yml
  schedule:
  - cron: '0 0 * * 0'

permissions: read-all

jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-24.04
    permissions:
      # Needed to upload the results to code-scanning dashboard.
      security-events: write
      actions: read
      contents: read      
    container:
      image: returntocorp/semgrep
    if: (github.actor != 'dependabot[bot]')
    
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v1
        with:
          egress-policy: block
          disable-telemetry: true
          allowed-endpoints: 
            github.com:443
            semgrep.dev:443
            
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      
      # Run Semgrep as CI
      - run: semgrep ci
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
