# updatebot
#
# This runs every hour to check if upstream repos have had a new release
#
name: Update Docker

on:
  push:
    branches: 
      - main
    paths:
      - scripts/updateDockerImages.sh
      - .github/workflows/ansible.yml
      - .github/workflows/catprinter.yml
      - .github/workflows/docker-autocompose.yml
      - .github/workflows/sslyze.yml
      - .github/workflows/visidata.yml
      - .github/workflows/update-docker.yml
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

env:
  DOCKER_CLI_EXPERIMENTAL: enabled
  REPOSITORY: ${{ github.actor }}/${{ github.workflow }} 

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions: read-all

jobs:
  update-docker:
    runs-on: ubuntu-22.04

    steps:
      # checkout with a PAT configured with workflow access to allow the workflow to check changes back in
      - name: Harden Runner
        uses: step-security/harden-runner@dd2c410b088af7c0dc8046f3ac9a8f4148492a95 # v1
        with:
          egress-policy: audit
          disable-telemetry: false
          allowed-endpoints: 
            aerodent.canonical.com:443
            api.github.com:443
            azure.archive.ubuntu.com:443
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443
            security.ubuntu.com:443

      - name: Source checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v2.4.0 
        with:
          token: ${{ secrets.UPDATE_SECRET }} 
          fetch-depth: 1
 
 #     - name: Add pipenv
 #       run: |
 #         DEBIAN_FRONTEND=noninteractive sudo apt-get install -y --no-install-recommends pipenv python3.9

      - name: Update dependencies
        run: |
          PAT="${{ github.actor }}/${{ secrets.UPDATE_SECRET }}" scripts/updateDockerImages.sh
