# updatebot
#
# This runs every hour to check if upstream repos have had a new release
#
name: Update Python

on:
  push:
    branches: 
      - main
    paths:
      - scripts/updatePythonDeps.sh
      - .github/workflows/ansible.yml
      - .github/workflows/sslyze.yml
      - .github/workflows/visidata.yml
      - .github/workflows/update-python.yml
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 1"

env:
  DOCKER_CLI_EXPERIMENTAL: enabled
  REPOSITORY: ${{ github.actor }}/${{ github.workflow }} 

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions: read-all

jobs:
  update-python:
    strategy:
      fail-fast: false
      matrix:
        app: [ansible, sslyze, visidata]
    runs-on: ubuntu-20.04

    steps:
      # checkout with a PAT configured with workflow access to allow the workflow to check changes back in
      - name: Harden Runner
        uses: step-security/harden-runner@bdb12b622a910dfdc99a31fdfe6f45a16bc287a4 # v1
        with:
          egress-policy: block
          disable-telemetry: true
          allowed-endpoints: 
            40.81.13.82:443
            52.154.174.208:443
            api.github.com:443
            azure.archive.ubuntu.com:443
            banjo.canonical.com:443
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443
            security.ubuntu.com:443

      - name: Source checkout
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v2.4.0 
        with:
          token: ${{ secrets.UPDATE_SECRET }} 
          fetch-depth: 1
 
 #     - name: Add pipenv
 #       run: |
 #         DEBIAN_FRONTEND=noninteractive sudo apt-get install -y --no-install-recommends pipenv python3.9

      - name: Update dependencies (${{ matrix.app }})
        run: |
          scripts/updatePythonDeps.sh ${{ matrix.app }}
